$headerHeight: 50px;

// colors
$purple:       #94C;
$lightUrple:   #C9F;

html, body {
  padding: 0;
  margin: 0;
  font-family: "Helvetica neue", Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

@keyframes jiggle {
  0% {
    vertical-align: -25%;
  }
  50% {
    vertical-align: 25%;
  }
  100% {
    vertical-align: -25%;
  }
}

@mixin jiggle-text ($duration, $offset) {
  animation: jiggle #{$duration}s cubic-bezier(.42,0,.58,1) #{$offset/-10}s infinite;
}

@for $i from 0 through 9 {
  .jigg-#{$i} {
    @include jiggle-text(1, $i);
  }
}

.jiggle {
  line-height: 0.5;
}

* { // Just makes everything so much easier
  box-sizing: border-box;
  outline-color: $lightUrple;
}

a, a:active, a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: #FFF;
}

header {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $headerHeight;
  padding: 5px 10%;

  .logo {
    height: $headerHeight - 10;
    float: left;
  }

  .title {
    margin: 0;
    line-height: $headerHeight - 10;
    font-size: $headerHeight - 10;
    color: #FFF;
    display: none;
  }

  .social {
    float: right;
    height: $headerHeight - 10;
    padding: 6px;
  }
}

h1, h2, h3, h4, h5 {
  font-family: "Luckiest Guy", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
}

h1 {
  font-size: 3.2rem;
  font-weight: 900;
}

h2 {
  font-size: 2.4rem;
  font-weight: 200;
  margin-top: 0;
}

.section {
  padding: 0 10%;

  &:first-child {
    padding-top: $headerHeight;
  }

  @media (max-width: 720px) {
    padding: 0 5%;
  }
}

.splash {
  overflow: hidden;
  width: 100%;
  height: 90vh;

  background-color: #3CC;
  background: url("../img/gfs-ibm-splash.png");
  background-position: 50% 0;
  background-size: cover;

  text-align: center;

  .cta {
    margin: 0 auto;
    margin-top: 40vh;
    max-width: 500px;

    border: none;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);

    padding: 30px;
    color: #FFF;

    @media (max-width: 720px) {
      max-width: 100%;
      padding: 5%;

      .signup {
        margin-top: 10px;
      }
    }

    input {
      font-size: 2rem;
      max-width: 100%;
    }

    .signup {
      border: 2px solid $lightUrple;
      border-radius: 5px;
      background-color: $purple;

      color: #FFF;
      font-weight: 600;
      text-transform: uppercase;
    }
  }
}

.bio {

  h1 {
    text-align: center;
    color: $purple;

    -webkit-text-stroke: 0.5px $lightUrple;
    text-stroke: 0.5px $lightUrple;
  }

  article {

    margin: 0 10%;
    font-size: 1.6rem;
    line-height: 2.2rem;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    text-align: justify;

    @media (max-width: 720px) {
      margin: 0;
      font-size: 1.9rem;
      line-height: 2.7rem;
    }
  }
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 720px) {
    flex-direction: column;
    font-size: 1.9rem;
  }

  * {
    flex: 1;
    padding: 10px;
  }
}

footer {
  position: relative;
  padding: 100px 15% 25px 15%;
  margin-top: 75px;

  background-color: #000;
  color: #FFF;
  font-size: 1.6rem;
  text-align: center;

  .icon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 12px solid #000;
    margin: -150px auto 0 auto;

    background-color: #000;
    background: url("../img/GfS_small.png");
    background-size: cover;
    background-position: 50%;
  }
}
